:root {
  --primary: rgba(245, 245, 245, 0.5);
  --bg: white;
  --invertedbg: black;
  font-family: 'Poppins', sans-serif;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------------
------------------------------ NavBar.js --------------------------------------
---------------------------------------------------------------------------- */
/* nav tag */
.navbar {
  background: var(--primary);
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 100;
  width: 100%;
  right: 0px;
  top: 0px;
  padding: 1em;
  height: 80px;
}

/* ul tag */
.navigation {
  list-style: none;
}

.logo-container {
  float: left;
  margin-left: 4rem;
}

.navbar-text {
  font-size:1.2em;
  text-decoration: none;
}

#wishlist {
  width: 30px;
  height: 30px;
}

#bag {
  width: 32px;
  height: 32px;
}

/* common for all li except logo */
.navlinks {
  float:right;
  margin-top: 0.5rem;
  margin-left: 4rem;
  margin-right: 3rem;
  display: block;
}

/* ----------------------------------------------------------------------------
------------------------------ App.js --------------------------------------
---------------------------------------------------------------------------- */

/* placeholder text */
.placeholder {
  margin-top: 25rem;
  font-size: 1.4em;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: normal;
}